*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color-primary:#7562e0;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247,88,66,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition:all 400ms ease;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300; */
    /* color: var(--color-dark); */
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    background-color: #1F2641;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232E3267' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23424890'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

.container{
    width: var(--container-width-lg);
    margin:0 auto;
}
section{
    padding: 6rem 0;
    /* margin:5rem 0; */
}
section h1{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2rem;
    /* color: var(--color-black); */
}
h1{
    font-size: 2.4rem;
    line-height: 1.1;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
    line-height: 1.9rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    background: var(--color-white);
    color:var(--color-black);
    display:inline-block;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background-color: var(--color-danger);
    color: var(--color-white);
}
/* .btn-primary:hover{
    border-color:var(--color-primary);
    background: var(--color-light);
    color: var(--color-primary);
} */


/* .btn-lg{
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
} */

/* ================NAVBAR================== */

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* ---------change nav styles using javaScript----------  */

.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav_logo h1>span{
    color: var(--color-danger);
} 
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--color-bg2);
}
/* .nav_menu .btn-primary:hover{
    color: var(--color-white);
} */


/* ============================HEADER====================== */

header{
    position: relative;
    top: 5rem;
    width: 100%;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 7rem;
}

.header_container{
    /* margin: auto; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p{
    margin: 1rem 0 2.4rem;
    position: relative;
}
.header_right{
   border: 10px solid rgba(0, 0, 0, 0.284);
   border-top: 0;
   border-radius: 10rem;
   width: fit-content;
   margin-left: 5rem;
}
.header_right img{
    height: 300px;
    width: 100%;
    border: 7px solid rgba(255, 255, 255, 0.202);
    border-right: 7px solid rgba(255, 255, 255, 0.922);
    border-bottom: 0;
    border-radius: 10rem;
    margin: auto;
}

/* ===============================Skills==================== */
.skills{
    
    background: var(--color-bg1);
    height: 32rem;
}

.skills_container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem 1.5rem;
   /* overflow: hidden; */
}
.skills_container h4{
    text-align: center;
    /* margin: 0.5rem; */
}

.skills_container article{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 1rem;
    height: 10rem;
    transition: var(--transition);
}
.skills_container img{
    height: 5rem;
    width: 5rem;
    margin: auto;
    /* margin-left: 29%; */
}
.skills_container article:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.5);
    padding: 11%;
   cursor: pointer;
}


/* ===========================Skills============== */
#Skills{
    margin-top: 10rem;
    background: var(--color-bg1);
}
#Skills>div{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
}
#Skills>div>div{
    padding: 2rem;
}
#Skills img{
    margin-bottom: 10px;
    background-color: var(--color-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232E3267' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23424890'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    margin: auto;
    height: 100px;
    width: 100px;
    padding: 0.5rem;
    border-radius: 5px;
    transition: var(--transition);
}
#Skills img:hover{
    background: var(--color-bg);
    padding: 1.5rem;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: #7562E0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%235f50cb' fill-opacity='0.93'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.93'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}



/* =======================PROJECTS============= */

#Project{
    margin-top: 10rem;
}
.project_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.project{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.project:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.project_info{
    padding: 2rem;
}

.project_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.8rem;
}
.project_info .btn{
     padding: 0.5rem 1rem;
}

.project_info b{
background-color:#7562E0
}


/* =========================git calendar============== */
#git{
    background-color: var(--color-bg);
}
.stats{
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats .loder{
    position:relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #1b0d33;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.stats .loder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top,transparent,var(--color-bg2));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.stats .loder::after{
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   transform: translatex(-50%);
   width: 20px;
   height: 20px;
   background: var(--color-primary);
   border-radius: 50%;
   z-index: 10;
   box-shadow: 0 0 10px var(--color-primary),
               0 0 20px var(--color-primary),
               0 0 30px var(--color-primary),
               0 0 40px var(--color-primary),
               0 0 50px var(--color-primary),
               0 0 60px var(--color-primary),
               0 0 70px var(--color-primary),
               0 0 80px var(--color-primary),
               0 0 90px var(--color-primary),
               0 0 100px var(--color-primary);
}
.loder span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: var(--color-bg);
    border-radius: 50%;
}
.loder span{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loder span>h1{
    position:fixed;
    /* top:0; */
}
.calendar{
    background: var(--color-bg2);
}

/* ==========================CONTECT===================== */

#Contect{
    margin-top: 10rem;
    background: var(--color-bg1);
    height: 34rem;
    margin-bottom: 0px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.contect-left{
    flex-basis:35%;
}
.contect-right{
    flex-basis:60%;
}
.contect-left p{
    margin-top: 30px;
}
.contect-left p i{
    color: var(--color-danger);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: var(--transition);
}
.social-icons a:hover{
    color: var(--color-warning);
     transform: translateY(-5px);
}

.contect-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--color-bg);
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

/* ==========================copyright================ */
.copyright{
    text-align: center;
     font-weight: 300;
     margin: 5px;
     color: var(--color-bg2);
}






/* ===============================Screen Size md=================== */


@media screen and ( max-width: 1024px){
     .container{
        width: var(--container-width-md);
     }
     h1{
        font-size: 2.2rem;
     }
     h2{
        font-size: 1.7rem;
     }
     h3{
        font-size: 1.4rem;
     }
     h4{
        font-size: 1.2;
     }
     nav{
        padding-right: 15px;
     }
     nav button{
        display: inline-block;
        background-color: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
     }
     nav button#close-menu-btn{
        display: none;
     }
     .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
     }
     .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
     }
     .nav_menu li:nth-child(2){
        animation-delay: 200ms;
     }
     .nav_menu li:nth-child(3){
        animation-delay:400ms;
     }
     .nav_menu li:nth-child(4){
        animation-delay: 600ms;
     }
@keyframes animateNavItems {
    0%{
       transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100%{
      transform: rotatez(0) rotate(0) scale(1);
      opacity: 1;
    }
}

     .nav_menu li a{
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
     }
     .nav_menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
     }


     /* -------header--- */

     header{
        padding: 2%;
        height: 75vh;
     }
     .header_container{
        gap: 1rem;
        padding-bottom: 3rem;
     }
     .header_left p{
        text-align: justify;
     }
     .header_right{
       margin: auto;
     }


     /* ----------skill----------- */
     .skills{
        height: 120vh;
     }
     .skills_container{
        grid-template-columns: repeat(3,1fr);
     }
     .skills h4{
        margin-top: .4rem;
        font-size: .9rem;
     }

     /* -------------------project--------- */

     .project_container{
        display: contents;
     }
     .project{
        width: 60%;
        margin: auto;
        margin-bottom: 2rem;
     }
}

@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }

    /* --------nav---------- */

    .nav_menu{
        right:3%;
    }


    /* ----------header--------- */
    header{
        height: 110vh;
    }
    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header_left p{
        margin-bottom: 1.3rem;
    }
    .header_right{
        margin: auto;
     }
     .header_right img{
        height: 200px;
     }


     /* ----------skill----------- */
     .skills{
        height: 120vh;
     }
     .skills_container{
        grid-template-columns: repeat(2,1fr);
     }
     .skills_container article{
        padding: 2rem;
        border-radius: 1rem;
        height: 7rem;
    }
    .skills_container img{
        height: 3rem;
        width: 3rem;
    }
     .skills h4{
        margin-top: .4rem;
        font-size: .7rem;
     }

     /* --------------------Skills------------ */
     #Skills>div{
        grid-template-columns: 1fr;
        gap: 1rem;
     }
     #Skills>div>div{
        padding: 4rem;
     }

     /* -----------project----------- */

    #Project{
        margin: 3rem 0 ;
    }
     .project{
        width: 90%;
     }

/* ---------------git----------- */
.stats{
    display: grid;
    gap: 2rem;
}
     /* -----------------contect------------- */

     #Contect{
        margin-top: 0rem;
        height: 45rem;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contect-left p{
        margin-top: 10px;
        font-size: 13px;
    }
    .social-icons{
        margin-top: 10px;
    }
    .social-icons a{
        font-size: 25px;
        margin-right: 20px;
    }

}
